%clearfix {
  display: block;
  content: "";
  clear: both;
}
%slickArrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 50px;
  height: 100px;
  opacity: 0.5;
  z-index: 2;
  border: 0;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

%showAge {
  display: inline-block;
  text-align: center;
  min-width: 30px;
  border-radius: $border-radius;
  background: $color-red-primary;
  @include styleText($color-white-0, $fs-14);
  padding: 0 $sp-5;
  margin-right: 8px;
  font-weight: 600;
}
