<section class="theater my-5">
    <div class="container">
      <div class="row">
        <!-- NAV THEATER LOGO -->
        <div class="nav nav-tabs flex-column theater__logos">
            <a class="nav-item nav-link active" data-toggle="tab" href="#bhd">
                <img class="theater__image" src="https://s3img.vcdn.vn/123phim/2018/09/f32670fd0eb083c9c4c804f0f3a252ed.png" alt="" />
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#cne">
                <img class="theater__image" src="https://s3img.vcdn.vn/123phim/2018/09/1721cfa98768f300c03792e25ceb0191.png" alt="" />
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#galaxy">
                <img class="theater__image" src="https://images.glints.com/unsafe/1200x0/glints-dashboard.s3.amazonaws.com/company-logo/c366498992d989524d4a69c495a6189e.png" alt="" />
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#cgv">
                <img class="theater__image" src="https://www.ncb-bank.vn/promotion/201703/cgv.jpg" alt="" />
            </a>
            <a class="nav-item nav-link " data-toggle="tab" href="#lottecne">
                <img class="theater__image" src="https://s3img.vcdn.vn/123phim/2018/09/404b8c4b80d77732e7426cdb7e24be20.png" alt="" />
            </a>
            <a class="nav-item nav-link" data-toggle="tab" href="#megaGS">
                <img class="theater__image" src="https://s3img.vcdn.vn/123phim/2018/09/7b078639bd8fdb09dd83652d207c7b90.png" alt="" />
            </a>
        </div>
        <!-- NAV THEATER DETAILS -->
        <div class="tab-content theater__details">
          <div class="tab-pane fade show active" id="bhd">
            <div class="nav nav-tabs">
              <a class="nav-item nav-link active" data-toggle="tab" href="#bhd-1" >
                <div class="theater__details--item">
                  <img
                    class="theater__image"
                    src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                    alt=""
                  />
                  <div class="wrapInfo">
                    <span class="chiNhanh">
                      <span class="tenRap BHD">BHD STAR</span> - Thảo Điền
                    </span>
                    <span class="diaChi"
                      >Tầng 5, TTTM Vincom Mega Mall Thảo Điền, 159 Xa Lộ Hà Nội, Quận 2, TP.HCM</span
                    >
                    <a href="#" class="googleMap">
                        [Google map]
                    </a>
                  </div>
                </div>
              </a>
              <!-- end thong tin tung rap -->
              <a class="nav-item nav-link" data-toggle="tab" href="#bhd-2">
                <div class="theater__details--item">
                  <img
                    class="theater__image"
                    src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                    alt=""
                  />
                  <div class="wrapInfo">
                    <span class="chiNhanh">
                      <span class="tenRap CGV">BHD STAR</span> - Thảo Điền
                    </span>
                    <span class="diaChi"
                      >Tầng 5, TTTM Vincom Mega Mall Thảo Điền, 159 Xa Lộ Hà Nội, Quận 2, TP.HCM</span
                    >
                  </div>
                </div>
              </a>
              <!-- end thong tin tung rap -->
              <a class="nav-item nav-link" data-toggle="tab" href="#">
                <div class="theater__details--item">
                  <img
                    class="theater__image"
                    src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                    alt=""
                  />
                  <div class="wrapInfo">
                    <span class="chiNhanh">
                      <span class="tenRap CGV">BHD STAR</span> - Thảo Điền
                    </span>
                    <span class="diaChi"
                      >Tầng 5, TTTM Vincom Mega Mall Thảo Điền, 159 Xa Lộ Hà Nội, Quận 2, TP.HCM</span
                    >
                  </div>
                </div>
              </a>
              <!-- end thong tin tung rap -->
              <a class="nav-item nav-link" data-toggle="tab" href="#">
                <div class="theater__details--item">
                  <img
                    class="theater__image"
                    src="https://s3img.vcdn.vn/123phim/2018/09/bhd-star-bitexco-15379552241200.jpg"
                    alt=""
                  />
                  <div class="wrapInfo">
                    <span class="chiNhanh">
                      <span class="tenRap CGV">BHD STAR</span> - Thảo Điền
                    </span>
                    <span class="diaChi"
                      >Tầng 5, TTTM Vincom Mega Mall Thảo Điền, 159 Xa Lộ Hà Nội, Quận 2, TP.HCM</span
                    >
                  </div>
                </div>
              </a>
              <!-- end thong tin tung rap -->
            </div>
          </div>

          <div class="tab-pane fade" id="cne">
            This is Cinestar
          </div>
          <div class="tab-pane fade" id="galaxy">
            This is Galaxy
          </div>
          <div class="tab-pane fade" id="cgd">
            This is CGV
          </div>
          <div class="tab-pane fade" id="lottecne">
            This is Lottecinema
          </div>
          <div class="tab-pane fade" id="megaGS">
            This is MegaGS
          </div>
        </div>
        
        <!-- MOVIE LIST -->
        <div class="tab-content theater__movies">
          <div class="tab-pane fade show active" id="bhd-1">
            <!-- Movie item -->
            <div class="theater__movies--item">
              <div
                class="theater__movies--item--info
                d-flex"
                data-toggle="collapse"
                data-target="#cgv-1-time"
              >
                <img class="theater__image" src="https://i.ytimg.com/vi/UTg2xRqIrcI/maxresdefault.jpg" />
                <div class="wrapInfo">
                  <span class="movieName">
                    <span class="showing__age">C13</span> Gia Tài Tội Lỗi
                  </span>
                  <span class="movieDetail">116 phút - TIX 8.6 - IMDb 0</span>
                </div>
              </div>
              <div class="">
                <h6>2D Digital</h6>
              </div>
              <div class="row collapse show timeList" id="bhd-1-time">
                <a href="#" class="btn btn-time">
                    <span class="start-time">13:20</span> ~ 15:20
                </a>
                <a href="#" class="btn btn-time">
                    <span class="start-time">13:20</span> ~ 15:20
                </a>
                <a href="#" class="btn btn-time">
                    <span class="start-time">13:20</span> ~ 15:20
                </a>
                <a href="#" class="btn btn-time">
                    <span class="start-time">13:20</span> ~ 15:20
                </a>
              </div>
            </div>
            <!-- Movie item -->
            <div class="theater__movies--item">
              <div
                class="theater__movies--item--info"
                data-toggle="collapse"
                data-target="#cgv-2-time"
              >
                <img class="theater__image" src="./images/theater.jpg" />
                <div class="wrapInfo">
                  <span class="movieName">
                    <span class="showing__age">C13</span> - Gia Tài Tội Lỗi
                  </span>
                  <span class="movieDetail">116 phút - TIX 8.6 - IMDb 0</span>
                </div>
              </div>
              <div class="row pt-3 collapse show timeList" id="cgv-2-time">
                <a href="#" class="btn btn-time">13:20</a>
                <a href="#" class="btn btn-time">13:20</a>
                <a href="#" class="btn btn-time">13:20</a>
                <a href="#" class="btn btn-time">13:20</a>
                <a href="#" class="btn btn-time">13:20</a>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="bhd-2">
            <div>film 4</div>
            <div>film 5</div>
            <div>film 6</div>
            <div>film 7</div>
          </div>
          <!-- bhd -->
          <!-- <div class="tab-pane fade" id="bhd-1">
            <div class="theater__movies--item">
              <div
                class="theater__movies--item--info"
                data-toggle="collapse"
                data-target="#cgv-2-time"
              >
                <img class="theater__image" src="./images/theater.jpg" />
                <div class="wrapInfo">
                  <span class="movieName">
                    <span class="showing__age">C13</span> - Gia Tài Tội Lỗi
                  </span>
                  <span class="movieDetail">116 phút - TIX 8.6 - IMDb 0</span>
                </div>
              </div>
              <div class="row pt-3 collapse show timeList" id="cgv-2-time">
                <a href="#" class="btn btn-time">13:20</a>
                <a href="#" class="btn btn-time">13:20</a>
                <a href="#" class="btn btn-time">13:20</a>
                <a href="#" class="btn btn-time">13:20</a>
                <a href="#" class="btn btn-time">13:20</a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>